<!--Content Section-->

<div id="services" class="fix scrollto clearfix">
  <div class=" fix row no-padding-bottom clearfix">
    <!--Content Left Side-->
    <!--End Content Left Side-->
    <!--Content of the Right Side-->
    <div class="col-2">
      <mat-card class="grey">
        <form #signupForm="ngForm">
          <div class="form-element">
            <mat-dialog-content class="mat-typography">
              <mat-form-field style="width: 100%" appearance="outline">
                <mat-label>What's in your mind?</mat-label>
                <input
                  matInput
                  #message
                  name="message"
                  [(ngModel)]="val"
                  minlength="10"
                  placeholder="Ex. How are you feeling today..."
                />
              </mat-form-field>
            </mat-dialog-content>
            <button class="button" (click)="save()">Save</button>
            <button
              style="margin-left: 5px"
              class="button"
              (click)="concatinate()"
            >
              Analysis
            </button>
          </div>
        </form>
      </mat-card>
    </div>
    <div class="col-2">
      <div
        style="z-index:1000; margin-right:5%; width: 150%"
        echarts
        [options]="options"
        class="echart"
      ></div>
    </div>
    <div class="col-1">
      <div class="height-adjust">
        <table mat-table matTable [dataSource]="dataSource">
        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">{{ element.Date }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Dairy">
          <th mat-header-cell *matHeaderCellDef>Dairy</th>
          <td mat-cell *matCellDef="let element">{{ element.Dairy }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      </div>
    </div>
    <!--End Content Right Side-->
   
  </div>
</div>

<!--End of Content Section-->
<div class="loader">
  <mat-spinner *ngIf="IsWait"></mat-spinner>
</div>
